#btn_12{
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 30px;
    /* font-size: 1.5rem; */
    color: #eee;
    background-color:#0275d8;
    size: 5ch;
}
#btn_12:hover{
  border: 2px solid #fff;
}
#menuitem{
    font-size: 150%;
    color:black;
    font-family: "Jost", sans-serif;
    /* border: #0275D8; */
    /* border-radius: 20px; */
    /* border: radius 2px; */
}

#menuitem:hover{
    background-color: #0275d8;
    color: #fff;
    /* border: 1px solid #0275D8; */
  }
/* #basic-menu{
    border-radius: 5px;
  
}
#basic-menu{
    border-radius: 20px;
} */