.my-modal{
  max-width: 40%;
  border-radius: 20px;
  margin-top: 10%;
}

.modal-header {
  color: white;
  background-color: #0275d8;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-title{
  font-size: 20px;
  background-color: #0275d8;
}

.modal-content{
  border-radius: 20px;
}

.modal-body form label{
  color: black;
  font-size: 14px;
}

.required:after {
    content:" *";
    color: red;
}

.modal-body form input{
  color: black;
  font-size: 14px;
}

.error-text{
  font-size: 12px;
}

.modal-btn{
  margin:0 35% ;  
  width: 30%;
  font-size: 18px;
  border-radius: 5px;
}

.login-text{
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}


